/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require bootstrap
 */


@media (min-width: 768px){
  .navbar {
    border-radius: 0px;
  }
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar li {
    margin-top: -55px;
    float: none;
    display: inline-block;
  }

.Logo-Square{
  height: 100px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.outline {
    background-color: transparent;
    color: inherit;
    transition: all .25s;
}
.btn-primary.outline {
    color: #428bca;
}
.btn-default.outline {
    color: white;
}
.btn-success.outline {
    color: #5cb85c;
}
.btn-info.outline {
    color: #5bc0de;
}
.btn-warning.outline {
    color: #f0ad4e;
}
.btn-danger.outline {
    color: #d9534f;
}
.btn-success.green {
    color: green;
}
.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
    color: #fff;
}

.ft{
  padding-top: 40px;
  height: 100px;
}

.logo-nav{
  background: #f8f8f8ad;
}

.navbar{
  margin-bottom: -1px;
}

.nav-a:hover {
  border-bottom: 1px blue solid;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.btn-purple {
  color: #D030F0;
  background-color: #FFFFFF;
  border-color: #CE28F7;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color: white;
  background-color: #B44EC4;
  border-color: #CE28F7;
}

.back-to-top {
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    display:none;
    border-radius: 50%;
  }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}