// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg{
    color: white;
    background: linear-gradient(#42A5F5,  #252546); /* Standard syntax */
    background: -webkit-linear-gradient(#42A5F5, #252546); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#42A5F5, #252546); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#42A5F5, #252546); /* For Firefox 3.6 to 15 */

  .h2{
    margin-top: 150px;
  }

  .serv-btn{
    color: white;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .img-home{
    opacity: 0.6;

      .ideas{
        text-align: center;
      }
    }
}

.img-web{
  height: 250px;
}

.text-web{
  margin-top: 50px;
}

.btn-web{
  color: yellow;
}

.btn-outline {
    background-color: transparent;
}


section {
  padding: 60px 0;

  .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
}

.navbar-yellow{
  background-color: #eea236;
  margin-top: 50px;
}

.nav-font{
  color: white;
}

.nav-li{
  padding-left: 140px;

  a :hover{
    color:silver;
    text-decoration: none;
  }
}

h2{
  text-align: center;
}

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid blue;
    margin: 1em 0;
    padding: 0;
    width: 50%;
    margin-left: 135px;
}

p{
    text-align: center;
  }