// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg{
  color: white;
  background:linear-gradient(0deg,rgba(#252546,0.9),rgba(#42A5F5,0.9));
  background-size:cover;
  width: 100%;

  .h2{
    margin-top: 150px;
  }

  .serv-btn{
    color: white;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .img-home{
    opacity: 0.6;
    height: 49% !important;

      .ideas{
        text-align: center;
      }
    }
}

.padding-home{
  padding-top: 100px;
  padding-bottom: 50px;
}

.img-web{
  height: 250px;
}

.text-web{
  margin-top: 50px;
}

.btn-web{
  color: yellow;
}

.btn-outline {
    background-color: transparent;
}


section {
  padding: 60px 0;

  .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
}

.navbar-yellow{
  background-color: #ff9e15;
  margin-top: 50px;
}

.navbar-blue{
  background-color: #499bf1;
  margin-top: 50px;
}

.nav-font{
  color: white;
}

.nav-li{
  padding-left: 140px;

  a :hover{
    color:silver;
    text-decoration: none;
  }
}

h2{
  text-align: center;
}

.img-circle {
    width: 75% !important;
    background-color: white;
}

.img-footer{
  width: 100%;
  height: 300px;
  opacity: 0.5;
}

.green-text{
  color: #1dbf1d;
}

.red-text{
  color: #f95858;
}

.line-blue{
  background-color: #6eb5ff;
  width: 70px;
  height: 2px;
}

.line-green{
  background-color: #1dbf1d;
  width: 90px;
  height: 2px;
}

.line-yellow{
  background-color: #ff9e15;
  width: 90px;
  height: 2px;
}

.line-red{
  background-color: #d9534f;
  width: 40px;
  height: 2px;
}


.tab-home {
  overflow: hidden;
  border: 1px solid #ff9e15;
  background-color: #ff9e15;
  color: white;

  button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 75px;
    transition: 0.3s;
    font-size: 17px;
  }

  button:hover {
    color: #ffea92;
    background-color: transparent;
  }

  button.active {
    background-color: transparent;
    border-bottom: white;
    color: #ffea92;
  }

  .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
  }
}

.tab-blue-home {
  overflow: hidden;
  border: 1px solid #6eb5ff;
  background-color: #6eb5ff;
  color: white;
  padding-left: 10%;

    button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 75px;
    transition: 0.3s;
    font-size: 17px;
  }

  button:hover {
    color: #a6e3f1;
    background-color: transparent;
  }

  button.active {
    background-color: transparent;
    border-bottom: white;
    color: #a6e3f1;
  }

  .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
  }
}
.mid-home {
  padding-left: 20%;
}

.carousel-caption {
    position: relative;
    right: 15%;
    bottom: 250px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    margin-top: -30px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.imgfoot-home{
  color: white;
  background:linear-gradient(0deg,rgba(black,0.5),rgba(black,0.5)),url(screen1.jpeg);
  background-size:cover;
  width: 100%;

  .bg-color1{
    background:linear-gradient(0deg,rgba(black,0.2),rgba(black,0.2));
    background-size:cover;
    padding-bottom: 20px;
  }
  .bg-color2{
    background:linear-gradient(0deg,rgba(#6eb5ff,0.2),rgba(white,0.2));
    background-size:cover;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.ft-text{
  padding: 50px;
}